## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mana,GF,5.6592,-53.7767,77.81,85,88,10.16,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,80.76,89,75,11.50,broken clouds
2,2,Inirida,CO,3.8653,-67.9239,78.39,90,44,2.15,scattered clouds
3,3,Komsomolskiy,UZ,40.4272,71.7189,70.52,52,73,6.91,broken clouds
4,4,Tomatlan,MX,19.9333,-105.2500,87.26,37,45,9.98,scattered clouds
5,5,Santa Rosa,PH,14.3122,121.1114,82.38,72,100,5.61,overcast clouds
6,6,Kangaatsiaq,GL,68.3065,-53.4641,19.18,80,2,8.30,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,76.42,71,13,6.17,few clouds
8,8,Bluff,NZ,-46.6000,168.3333,52.47,84,16,12.71,few clouds
9,9,Puerto Ayora,EC,-0.7393,-90.3518,78.76,81,60,7.56,broken clouds

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mana,GF,5.6592,-53.7767,77.81,85,88,10.16,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,80.76,89,75,11.50,broken clouds
2,2,Inirida,CO,3.8653,-67.9239,78.39,90,44,2.15,scattered clouds
5,5,Santa Rosa,PH,14.3122,121.1114,82.38,72,100,5.61,overcast clouds
7,7,Rikitea,PF,-23.1203,-134.9692,76.42,71,13,6.17,few clouds
9,9,Puerto Ayora,EC,-0.7393,-90.3518,78.76,81,60,7.56,broken clouds
10,10,Faanui,PF,-16.4833,-151.7500,81.16,72,17,9.40,few clouds
11,11,Cam Ranh,VN,11.9214,109.1591,76.96,88,20,4.61,few clouds
15,15,Tharad,IN,24.3961,71.6267,84.49,64,23,13.53,few clouds
21,21,Atuona,PF,-9.8000,-139.0333,78.24,81,100,13.09,light rain

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_city = preferred_cities_df.dropna()
new_city

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mana,GF,5.6592,-53.7767,77.81,85,88,10.16,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,80.76,89,75,11.50,broken clouds
2,2,Inirida,CO,3.8653,-67.9239,78.39,90,44,2.15,scattered clouds
5,5,Santa Rosa,PH,14.3122,121.1114,82.38,72,100,5.61,overcast clouds
7,7,Rikitea,PF,-23.1203,-134.9692,76.42,71,13,6.17,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Galle,LK,6.0367,80.2170,81.30,83,99,14.25,overcast clouds
689,689,Songadh,IN,21.1667,73.5667,81.45,79,1,10.87,clear sky
699,699,Belmonte,BR,-15.8631,-38.8828,76.24,78,0,6.58,clear sky
700,700,Assare,BR,-6.8744,-39.8750,78.53,51,60,2.13,broken clouds
701,701,Orocue,CO,4.7912,-71.3354,83.88,67,79,3.62,broken clouds

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_city[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mana,GF,77.81,overcast clouds,5.6592,-53.7767,
1,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
2,Inirida,CO,78.39,scattered clouds,3.8653,-67.9239,
5,Santa Rosa,PH,82.38,overcast clouds,14.3122,121.1114,
7,Rikitea,PF,76.42,few clouds,-23.1203,-134.9692,
9,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
10,Faanui,PF,81.16,few clouds,-16.4833,-151.7500,
11,Cam Ranh,VN,76.96,few clouds,11.9214,109.1591,
15,Tharad,IN,84.49,few clouds,24.3961,71.6267,
21,Atuona,PF,78.24,light rain,-9.8000,-139.0333,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [40]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mana,GF,77.81,overcast clouds,5.6592,-53.7767,LE SAMANA
1,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,Inirida,CO,78.39,scattered clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
5,Santa Rosa,PH,82.38,overcast clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
7,Rikitea,PF,76.42,few clouds,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
688,Galle,LK,81.30,overcast clouds,6.0367,80.2170,Amangalla
689,Songadh,IN,81.45,clear sky,21.1667,73.5667,SPOT ON 61520 Shivam Guest House
699,Belmonte,BR,76.24,clear sky,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
700,Assare,BR,78.53,broken clouds,-6.8744,-39.8750,José Xavier de Andrade
701,Orocue,CO,83.88,broken clouds,4.7912,-71.3354,Hotel Brisas de San Miguel

In [42]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))